<template>
    <lightning-Card title="Account List" icon-name="standard:account">
        <lightning-button   variant="Neutral"
                            label="Selected Records"
                            title="Selected Records"
                            onclick={getSelectedRec} 
                            slot="actions"
                            icon-name="utility:check">
        </lightning-button>
        <div style="border-top: 1px solid rgb(221 219 218);">
            <!-- datatable -->
            <lightning-datatable
                    key-field="id"
                    data={data}
                    columns={columns}
                   
                    column-widths-mode="fixed" onrowaction={handleRowAction}>
            </lightning-datatable>
            <!-- /datatable -->
        </div>
    </lightning-Card>
<template if:true={modaal}>
      <lightning-modal-header label="My Modal Heading"></lightning-modal-header>
    <lightning-modal-body> Content: {content} </lightning-modal-body>
    <lightning-modal-footer>
        <lightning-button label="OK" onclick={handleOkay}></lightning-button>
    </lightning-modal-footer>
    </template>
</template>