<template>
    <h6>Accoridan Exmape v8</h6>

      <lightning-button variant="base" label="Base" title="Looks like a link" onclick={handleClick} class="slds-m-left_x-small"></lightning-button>

<template if:true={showvalue}>

      <lightning-combobox
               name="progress"
               label="Status"
               value={value}
               placeholder="Select Progress"
               options={options}
               onchange={handleChange} >
   </lightning-combobox>

      <lightning-combobox
               name="progress"
               label="Status"
               value={value}
               placeholder="Select Progress"
               options={options1}
               onchange={handleChange} >
   </lightning-combobox>


    <lightning-accordion allow-multiple-sections-open={multiple}>
        <template if:true={contacts}>
            <template for:each={contacts} for:item="acc">
                <lightning-accordion-section name={acc.id} label={acc.Years__c} key={acc.Id}>
                    
                   <p>   {acc.Years__c} </p> <br>
                         <p onclick={clickOnField}>okey {acc.Id} </p><br>
                    <p>      {acc.typeValue__c} </p>

                </lightning-accordion-section>
            </template>
        </template>
    </lightning-accordion>
</template>
</template>