<template>

    <lightning-card title= "Create Task" icon-name="standard:task">
        <div class="slds-m-around_medium">
            <lightning-input label="Subject" value={Subject} onchange={handleChange}></lightning-input>
            <lightning-combobox
            name="Type"
            label="Type"
            placeholder="Select Type"
            value={Type}
            options={TypePicklistValue}
            onchange={HandleTypeChange}>
            </lightning-combobox>
            <lightning-combobox
            name="Priority"
            label="Priority"
            placeholder="Select Priority"
            value={Priority}
            options={PriorityPicklistValue}
            onchange={HandlePriorityChange}>
            </lightning-combobox>
            <lightning-textarea label="description" value={Description} onchange={handleDescriptionChange}></lightning-textarea>
            <lightning-button-icon icon-name="utility:add" variant="border-filled" alternative-text="Add Task" onclick={addTask}></lightning-button-icon>
        </div>
    </lightning-card>


    <lightning-combobox
            name="Filter Task"
            label="Filter Task"
            placeholder="Select Filter"
            value={FilterValue}
            options={getFilterValue}
            onchange={HandleFilterChange}>
    </lightning-combobox>

    <template if:true={allTask}>
        <lightning-datatable
        key-field="id"
        data={TaskRecordList}
        show-row-number-column
        row-number-offset={rowOffset}
        columns={columns}
        onrowaction={handleRowAction}
        onclick={handleClickAction}>
    </lightning-datatable>
    </template>

    <template if:true={completed}>
        <lightning-datatable
        key-field="id"
        data={CompletedTaskRecordList}
        show-row-number-column
        row-number-offset={rowOffset}
        columns={columns}
        onrowaction={handleRowAction}
        onclick={handleClickAction}>
    </lightning-datatable>
    </template>

    <template if:true={notCompleted}>
        <lightning-datatable
        key-field="id"
        data={NotCompletedTaskRecordList}
        show-row-number-column
        row-number-offset={rowOffset}
        columns={columns}
        onrowaction={handleRowAction}
        onclick={handleClickAction}>
    </lightning-datatable>
    </template>

    <lightning-card >
        <p >Total task :{allSize} , completed Task : {completeSize} , Not Completed Task : {notCompleteSize}</p>
    </lightning-card>

    <!-- <lightning-datatable
        key-field="id"
        data={TaskRecordList}
        show-row-number-column
        row-number-offset={rowOffset}
        columns={columns}
        onrowaction={handleRowAction}>
    </lightning-datatable> -->
</template>