<template>
    <div class="center">
        <img src="/resources/lwc.png" />
    </div>

    
    <div class="toDo">
       
        <div class="header">
            <h2>My To Do List</h2>
            <input 
                type="text"  
                placeholder="Type Here..."
                onchange={handleToDoChanges}>
        </input>
            
            <span  class="addBtn"  value={taskDetails} onclick={handleToDo}>Add</span>
        </div>
       
         <ul>
            <template for:each={todos} for:item="todo">
                <li key={todo.id} id={todo.id} onclick={selectrow}>
>
                    <p>{todo.id}</p>
                   <p> {todo.taskDetails}</p>
                </li>
            </template>
        </ul>     
    </div>
   
</template>